#galleryWithHorizontalThumbs{
  .primary-gallery{
    max-height: 450px;
    overflow: hidden;
    margin-bottom: 15px;
  }
  .thumbs-gallery{
    .item{
      height: 100px;
      overflow: hidden;
    }
  }
}
.single-media-video{
  @media screen and (max-width: 576px) {
    width: 100%;
  }
}